@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    font-family: "Open Sans", sans-serif;
    font-size: large;
    /*negrito--font-weight*/
    font-weight: bold;
    /*espaçamento entre as linhas--line-height*/
    line-height: 1.5;
    /*centralizar--text-align*/

    /*sublinhado--text-decoration*/
    text-decoration: underline;

    width: 50%;
    margin: 0 auto;
}

h1 {
    border: solid 5px black;
    margin: 50px 50px 50px 50px;
    padding: 200px;
}

