body {
    background-color: #cae9ff;
}

h4 {
    border: #1e8eba inset 3px;
}

.deuses {
    background-color: aliceblue;
}

#cabecalho {
    background-color: #829ca7;
}

div p{
    color: #0081a7;
}
